.vul-container {
  fill: #000;
}
.vul-inner-circle {
  opacity: 0.8;
  fill: #ffa;
}
.vul-scale-inner-circle {
  stroke: #000;
}
.vul-scale-outer-circle {
  stroke: #000;
}
.vul-scale-divisions {
  stroke: #333;
  stroke-width: 1px;
  stroke-dasharray: none;
}
.vul-scale-divisions:hover {
  stroke-width: 2px;
}
.vul-scale-major-divisions {
  stroke: #77f;
  stroke-width: 2px;
  stroke-dashoffset: 3px 5px;
}
.vul-scale-captions > text {
  text-anchor: middle;
  cursor: pointer;
}
.vul-scale-captions > text:nth-child(4n+1) {
  stroke: #f55;
}
.vul-scale-captions > text:nth-child(4n+2) {
  stroke: #5f5;
}
.vul-scale-captions > text:nth-child(4n+3) {
  stroke: #fa0;
}
.vul-scale-captions > text:nth-child(4n+4) {
  stroke: #57f;
}
.vul-point {
  fill: #000;
  stroke: #333;
  cursor: pointer;
  text-anchor: middle;
}
.vul-point:hover {
  stroke: red;
}
.vul-point:hover .vul-point-info-caption,
.vul-point:hover .vul-point-retrograde {
  stroke: fa7;
}
.vul-point-pos {
  fill: #eff;
  opacity: 0.7;
}
.vul-point-pos-inner {
  fill: none;
}
.vul-point-info-caption {
  stroke: #444;
}
.vul-point .vul-point-retrograde {
  stroke: #333;
  font-size: 10px;
}
.vul-section {
  fill: #ffe;
}
.vul-section-ring {
  fill: none;
}
.vul-global-house-scale .vul-scale-divisions > line {
  stroke: #aaf;
  stroke-width: 2px;
}
.vul-global-house-scale .vul-scale-divisions > line:nth-child(1),
.vul-global-house-scale .vul-scale-divisions > line:nth-child(10) {
  stroke: #f00;
  stroke-width: 2px;
}
.vul-global-house-scale .vul-scale-divisions > line:nth-child(4),
.vul-global-house-scale .vul-scale-divisions > line:nth-child(7) {
  stroke: #0a6;
  stroke-width: 2px;
}
.vul-global-house-scale .vul-point-caption {
  stroke: #222;
  fill: #000;
}
.vul-global-house-scale .vul-point-caption:hover {
  stroke: fa7;
}
.vul-global-house-scale .vul-point-info-caption {
  text-anchor: middle;
}
.vul-house-scale .vul-scale-divisions > line:nth-child(1),
.vul-house-scale .vul-scale-divisions > line:nth-child(10) {
  stroke: #f00;
  stroke-width: 2px;
}
.vul-house-scale .vul-scale-divisions > line:nth-child(4),
.vul-house-scale .vul-scale-divisions > line:nth-child(7) {
  stroke: #0a6;
  stroke-width: 2px;
}
.vul-aspects line:hover {
  stroke-width: 4px;
}
.vul-aspect-60,
.vul-aspect-90,
.vul-aspect-120,
.vul-aspect-180 {
  stroke-width: 1.5px;
}
.vul-aspect-30,
.vul-aspect-60,
.vul-aspect-120 {
  stroke: #aaf;
}
.vul-aspect-90,
.vul-aspect-180 {
  stroke: #faa;
}
.vul-aspect-45,
.vul-aspect-135 {
  stroke: #faa;
  stroke-dasharray: 8px 2px;
}
.vul-aspect-36,
.vul-aspect-72,
.vul-aspect-144 {
  stroke: #0c0;
  stroke-dasharray: 8px 3px;
}
.vul-aspect-40,
.vul-aspect-80,
.vul-aspect-160 {
  stroke: #77a;
  stroke-dasharray: 4px 2px;
}
.vul-credits {
  font-size: 12px;
  opacity: 0.4;
}
.no-fill {
  fill: none;
}
.no-stroke {
  stroke: none;
}
