body {
  background: #ccc;
}
a {
  cursor: pointer;
}
.vul-top-heading {
  background: #005d9e;
  padding: 5px;
  color: #ddd;
  position: fixed;
  width: 100%;
}
.vul-top-heading a {
  background: #eaeaea;
  padding: 2px 11px;
  border-radius: 10px 0;
  color: #000;
}
.vul-main-content {
  padding: 55px 5px;
  background: #ccc;
}
.vul-component {
  margin: 2px;
  border: 1px solid #49f;
  background: #dddddd;
  display: table;
}
.vul-t-data-table {
  border: 1px dotted #ddd;
}
.vul-t-data-table-title,
.vul-t-data-table caption {
  background: #ddd;
  font-weight: bold;
}
.vul-t-data-table tr {
  text-align: center;
}
.vul-t-data-table tr:nth-child(2n) {
  background: #f4eaf8;
}
.vul-t-data-table tr:nth-child(2n + 1) {
  background: #fefeff;
}
.vul-t-data-table td {
  border-left: 1px solid #888;
  padding: 2px;
  color: #000;
  min-width: 16px;
}
.vul-t-title {
  font-weight: bold;
}
.centered {
  text-align: center;
}
.inline-block {
  display: inline-block;
  vertical-align: top;
}
.no-stroke {
  stroke: none;
}
