/* for chart examples */
#example-chart-1 {
  background: url(/images/vulkan/backgr-1.jpg);
  background-size: 800px 800px;
}
#example-chart-1 .vul-inner-circle {
  opacity: 0.7;
  fill: #00f;
}
#example-chart-2 {
  background: url(/images/vulkan/backgr-2.jpg);
  background-size: 800px 800px;
}
#example-chart-2 .vul-global-house-scale .vul-point-caption {
  stroke: #ff8;
}
#example-chart-2 .vul-global-house-scale .vul-point-info-caption {
  stroke: #fc3;
  fill: #000;
}
#example-chart-2 .vul-inner-circle {
  fill: #000;
}
.section-1 {
  opacity: 0.8;
}
.section-1 .vul-point {
  stroke: #eee;
}
.section-1 .vul-point:hover {
  stroke: #f00;
}
.section-1 .vul-point-caption {
  stroke: #f5a;
}
.section-1 .vul-scale-divisions {
  stroke: #000;
}
.section-1 .vul-scale-major-divisions {
  stroke-width: 3px;
  stroke: #71ff55;
}
.section-1 .vul-scale-background {
  fill: #77c;
}
.section-2 .vul-point {
  stroke: #333;
}
.section-2 .vul-point:hover {
  stroke: #f00;
}
.section-2 .vul-scale-divisions {
  stroke: #000;
}
.section-2 .vul-scale-background {
  fill: #999;
}
.section-3 .vul-section-ring {
  opacity: 0.83;
}
.section-4 .vul-point {
  stroke: #333;
}
.section-4 .vul-point:hover {
  stroke: #f00;
}
.section-4 .vul-scale-divisions {
  stroke: #fff;
}
.section-4 .vul-scale-background {
  fill: #999;
}
.system-1 .vul-scale-divisions {
  stroke: #fff;
}
.system-1 .vul-scale-major-divisions {
  stroke: #eee;
}
.system-1 .vul-scale-background {
  fill: #333;
}
.system-1 .vul-cusp-caption {
  stroke: white;
}
